<!DOCTYPE html>
{% extends "app1/base.html" %}

{% block title %}
Acerca de mí | Tienda Libre
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acerca de mí</title>
</head>
<body>

    <h1>Acerca de mí</h1>
    <p>Hola, soy Ezequiel Andrada, soy un estudiante de Programacion 6to año Division C en el Instituto Tecnico Salesiano Villada, poseo conocimientos de python, HTML y estoy aprendiendo django. Mis hobbys son leer y jugar videojuegos.</p>

</body>
</html>
{% endblock %}